Data preprocessing for the global sales data in the udemy course below<br>
https://www.udemy.com/course/the-complete-power-bi-practical-course

In [2]:
import pandas as pd

# Read the CSV file
df = pd.read_csv('../input_data/udemy_ms_powerbi/factInternetSales.csv')

# Display the first few rows
df.head()

,ProductKey,OrderDate,DueDate,ShipDate,CustomerKey,PromotionKey,SalesTerritoryKey,SalesOrderNumber,SalesOrderLineNumber,RevisionNumber,...,UnitPriceDiscountPct,DiscountAmount,ProductStandardCost,TotalProductCost,29,6,98,19,36,100
0,310,29/12/2010,10/01/2011,5/01/2011,21768,1,6,SO43697,1,1,...,0,0,2171.2942,2171.2942,NaN,NaN,NaN,3578.27,NaN,NaN
1,346,29/12/2010,10/01/2011,5/01/2011,28389,1,7,SO43698,1,1,...,0,0,1912.1544,1912.1544,NaN,NaN,NaN,NaN,NaN,NaN
2,346,29/12/2010,10/01/2011,5/01/2011,25863,1,1,SO43699,1,1,...,0,0,1912.1544,1912.1544,NaN,NaN,NaN,NaN,NaN,3399.9900
3,336,29/12/2010,10/01/2011,5/01/2011,14501,1,4,SO43700,1,1,...,0,0,413.1463,413.1463,NaN,NaN,NaN,NaN,NaN,699.0982
4,346,29/12/2010,10/01/2011,5/01/2011,11003,1,9,SO43701,1,1,...,0,0,1912.1544,1912.1544,NaN,3399.99,NaN,NaN,NaN,NaN